{% extends 'base.html.twig' %}

{% macro listTodo(list) %}
    <ul>
    {% for item in list %}
        <li class=input-group>
            <span class=input-group-addon>
                <input type="checkbox" name="items[]" value="{{ item.id }}" {% if item.done %}checked{% endif %}>
            </span>
            <span class="form-control">{{ item.description }}</span>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% block title %}
Todo list
{% endblock %}

{% block body %}
    {% import _self as macros %}
<div class=container>
    <div class=page-header>
        <h1>Todo list <small>wahooo</small></h1>
    </div>

    <div class="row">
        <h3>Todo</h3>
        <div class=col-todo>
            <form method="POST" action="{{ path('todo_done') }}">
                {{ macros.listTodo(todo) }}
                <input type="submit" value="Opslaan" class="btn  btn-primary">
            </form>
        </div>

        <div class=col-todo>
        <h3>Done</h3>
            {{ macros.listTodo(done) }}
        </div>

    </div>
</div>
{% endblock %}
