{% extends 'base.html.twig' %}

{% block title %}Todo list{% endblock %}

{% block body %}
<paper-material elevation="1" class=page-header>
    <paper-icon-button icon=star onclick="window.location.href='{{ path('list_calendar') }}';" >
    </paper-icon-button>
    <h1>Todo list <small>wahooo</small></h1>
</paper-material>

<paper-material elevation="3" id="js-info-box">
    <paper-icon-button id="js-close-info-box" icon="close"></paper-icon-button>
    <div class="todo-line">
        <h1 class="info-title"></h1>
        <paper-icon-button id="js-todo-mark-done" icon="done"></paper-icon-button>
        <paper-icon-button id="js-todo-delete" icon="delete"></paper-icon-button>
    </div>

    <p class="info-text"></p>

</paper-material>

<div class=row>
    <paper-material elevation="2" class=col-day>
        <h2>Todo</h2>
        <ul class=todo-list id="js-todo-list"></ul>
        <paper-icon-button icon="add" class="todo-button" onclick="window.location.href='{{ path('new_todo') }}';"></paper-icon-button>
    </paper-material>

    <paper-material elevation="2" class=col-day>
        <h2>Done</h2>
        <ul class=todo-list id="js-done-list"></ul>
        <paper-icon-button class="todo-button" icon="delete"></paper-icon-button>
    </paper-material>
</div>
{% endblock %}

{% block post_head %}
    {{ parent() }}

    {# flight! #}
    <script src="{{ asset('vendor/requirejs/require.js') }}"></script>
    <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
    <script>
        require.config({
            'baseUrl': '/js/',
            'paths': {
                'flight': '../vendor/flight/lib'
            }
        });

        require(['pages/todo_list'], function (todoPage) {
            todoPage();
        });
    </script>
{% endblock %}
