{% extends 'base.html.twig' %}

{% block title %}
New Deadline!
{% endblock %}

{% block body %}
<div class=page-header>
    <h1>Hurray, it's a new deadline!</h1>
</div>

<div class=row>
    <div class=col-form>
        <h3>Deadline</h3>
        {{ form_start(form) }}
            {{ form_row(form.epoch) }}
            {{ form_row(form.description) }}
            <ul class="todo" data-prototype="{{ form_widget(form.todo.vars.prototype)|e }}"></ul>
            {% do form.todo.setRendered %}
            {{ form_rest(form) }}
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src={{ asset('vendor/jquery/dist/jquery.min.js') }}></script>
<script src={{ asset('js/add_todo.js') }}></script>
{% endblock %}
