{% extends 'base.html.twig' %}

{% macro listDay(day, label) %}
<table class=day-list>
    <tr>
        <th>{{ label }}</th>
    </tr>
    {% for appointment in day %}
        <tr><td>
            <paper-button class=item data-id={{ appointment.id }}
            {% if appointment is deadline %}
                class=deadline onclick="window.location.href='{{ path('edit_deadline', {'id': appointment.id }) }}';" >
            {% else %}
                class=appointment onclick="window.location.href='{{ path('edit_appointment', {'id': appointment.id}) }}';" >
            {% endif %}
            {{ appointment.description }}
            </paper-button>
        </td></tr>
    {% endfor %}
    <tr class=space><td></td></tr>
</table>
{% endmacro %}


{% block title %}
My Calender
{% endblock %}

{% block body %}
    {% import _self as macros %}

    <paper-shadow class=page-header>
        <h1>Calender <small>Putting some logic in the tasks...</small></h1>
    </paper-shadow>

    <div class=row>
        <div class=col-button>
            <paper-button onclick="goPage(-3)">
                <core-icon icon="chevron-left"></core-icon>
            </paper-button>
        </div>

        <paper-shadow class=col-day>
            {{ macros.listDay(day1, day1title) }}
        </paper-shadow>

        <paper-shadow class=col-day>
            {{ macros.listDay(day2, day2title) }}
        </paper-shadow>

        <paper-shadow class=col-day>
            {{ macros.listDay(day3, day3title) }}
        </paper-shadow>

        <div class=col-button>
            <paper-button onclick="goPage(3)">
                <core-icon icon="chevron-right"></core-icon>
            </paper-button>
        </div>

        <paper-shadow class=col-todo>
            <table class=todo-list>
                <tr>
                    <th>Todo</th>
                </tr>
                {% for item in todo  %}
                <tr><td>
                    <paper-button>
                        <a class=item {% if item.appointment != null %}data-id={{ item.appointment.id }} {% endif %} onclick="window.location.href='{{ path('list_todo') }}';">
                            {{ item.description }}
                        </a>
                    </paper-button>
                </td></tr>
                {% endfor %}
            </table>
        </paper-shadow>
    </div>

    <div class=below>
        <paper-button claas=below-left raised onclick="window.location.href='{{ path('new_appointment') }}';" >New Appointment</paper-button>
        <paper-button class=below-left raised onclick="window.location.href='{{ path('new_deadline') }}';" >New Deadline</paper-button>

        <paper-button class=below-right raised onclick="window.location.href='{{ path('new_todo') }}';" >New Todo</paper-button>
    </div>

    <div class=note-row>
       {{ render(controller(
            'AppBundle:Notification:getNotifications',
            { 'date' : date('today') }
          ))
       }}
    </div>

{% endblock %}

{% block javascripts %}
<script src={{ asset('js/calendar.js') }}></script>
{% endblock %}
