{% extends 'base.html.twig' %}

{% block title %}
My Calender
{% endblock %}

{% block body %}
<div class=container>
    <div class=page-header>
        <h1>Calender <small>Putting some logic in the tasks...</small></h1>
    </div>

    <div class="row">
        <div class=col-md-7>
            <table class="agenda  table  table-hover">
                <tr>
                    <th>Description</th>
                    <th>Time</th>
                    <th>Priority</th>
                    <th></th>
                </tr>

                {% for appointment in appointments  %}
                {% if appointment.datetime < date('now') %}
                <tr class="bg-danger">
                {% elseif appointment.datetime == date('now') %}
                <tr>
                {% else %}
                <tr class="bg-success">
                {% endif %}
                    <td>{{ appointment.description }}</td>
                    <td>{{ appointment.datetime|date("D, d M - H:i") }}</td>
                    <td>{{ appointment.priority }}</td>
                    <td><a href="{{ path('edit_calendar', {'id': appointment.id}) }}" class="glyphicon glyphicon-pencil"></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {# this is truly bad
        <div class="col-md-5">
            <h2>Add a new appointment</h2>
            {{ render(url('new_calender')) }}
        </div> #}
    </div>
</div>
{% endblock %}

