{% extends 'base.html.twig' %}

{% macro listDay(day, label) %}
<table class=day-list>
    <tr>
        <th>{{ label }}</th>
    </tr>
    {% for appointment in day %}
        <tr><td>
            <a data-id={{ appointment.id }}
            {% if appointment is deadline %}
                class="deadline item" href={{ path('edit_deadline', {'id': appointment.id }) }}>
            {% else %}
                class="appointment item" href={{ path('edit_appointment', {'id': appointment.id}) }}>
            {% endif %}
            {{ appointment.description }}
            </a>
        </td></tr>
    {% endfor %}
</table>
{% endmacro %}


{% block title %}
My Calender
{% endblock %}

{% block body %}
    {% import _self as macros %}

    <div class=page-header>
        <h1>Calender <small>Putting some logic in the tasks...</small></h1>
    </div>

    <div class="row">
        <div class=col-day>
            {{ macros.listDay(today, "Today") }} 
        </div>
        
        <div class=col-day>
            {{ macros.listDay(tomorrow, "Tomorrow") }}
        </div>
        
        <div class=col-day>
            {{ macros.listDay(overmorrow, "Overmorrow") }} 
        </div>

        <div class=col-todo>
            <table class=todo-list>
                <tr>
                    <th>Todo</th>
                </tr>
                {% for item in todo  %}
                <tr><td>
                        <a class=item {% if item.appointment != null %}data-id={{ item.appointment.id }} {% endif %}href="{{ path('list_todo') }}">
                            {{ item.description }}
                        </a>
                </td></tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class=below>
        <a class=btn href={{ path('new_appointment') }}>New Appointment</a>
        <a class=btn href={{ path('new_todo') }}>New Todo</a>
        <a class=btn href={{ path('new_deadline') }}>New Deadline</a>
    </div>

    <div class=note-row>
       {{ render(controller(
            'AppBundle:Notification:getNotifications',
            { 'date' : date('today') }
          ))
       }}
    </div>

{% endblock %}

{% block javascripts %}
<script src={{ asset('js/calendar.js') }}></script>
{% endblock %}
