{% extends 'base.html.twig' %}

{% macro listDay(day, label) %}
    <h2 class=day-name>{{ label }}</h2>
    <ul class=day-list>
    {% for appointment in day %}
        <li>
            <paper-button class=item data-id={{ appointment.id }}
            {% if appointment is deadline %}
                class=deadline onclick="window.location.href='{{ path('edit_deadline', {'id': appointment.id }) }}';" >
            {% else %}
                class=appointment onclick="window.location.href='{{ path('edit_appointment', {'id': appointment.id}) }}';" >
            {% endif %}
            {{ appointment.description }}
            </paper-button>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}


{% block title %}
My Calender
{% endblock %}

{% block body %}
{% import _self as macros %}

<paper-material elevation="1" class=page-header>
    <h1>Calender <small>Putting some logic in the tasks...</small></h1>
</paper-material>

<div class=row>
    <div class=col-button>
        <paper-icon-button icon="chevron-left" class=pagination-button onclick="goPage(-3)"></paper-button>
    </div>

    {% for daytitle, day in days %}
        <paper-material elevation="1" class=col-day>
            {{ macros.listDay(day, daytitle) }}
        </paper-material>
    {%- endfor %}

    <div class=col-button>
        <paper-icon-button icon="chevron-right" class=pagination-button onclick="goPage(3)"></paper-button>
    </div>

    <paper-material elevation="2" class=col-todo>
        <div horizontal layout>
            <paper-icon-button icon="view-list" onclick="window.location.href='{{ path('list_todo') }}';"></paper-icon-button>
            <h2>Todo</h2>
        </div>

        <ul class=todo-list>
        {% for item in todo  %}
        <li>
            <paper-button class=item
                {% if item.appointment != null %} data-id={{ item.appointment.id }} {% endif %} onclick="window.location.href='{{ path('list_todo') }}';">
                {{ item.description }}
            </paper-button>
        </li>
        {% endfor %}
        <li class="new-todo">
            <paper-icon-button icon="add" onclick="window.location.href='{{ path('new_todo') }}';"></paper-button>
        </li>
        </ul>
    </paper-material>
</div>

<div class=below>
    <paper-button claas=below-left raised onclick="window.location.href='{{ path('new_appointment') }}';" >New Appointment</paper-button>
    <paper-button class=below-left raised onclick="window.location.href='{{ path('new_deadline') }}';" >New Deadline</paper-button>
</div>

<div class=note-row>
    {{ render(controller(
        'AppBundle:Notification:getNotifications',
        { 'date' : date('today') }
        ))
    }}
</div>
{% endblock %}

{% block javascripts %}
<script src={{ asset('js/calendar.js') }}></script>
{% endblock %}
