{% extends 'base.html.twig' %}

{% block title %}
My Calender
{% endblock %}

{% block body %}
<paper-material elevation="1" class=page-header>
    <h1>Calender <small>Putting some logic in the tasks...</small></h1>
</paper-material>

{# todo-info-box #}
<paper-material elevation="3" id="js-info-box">
    <paper-icon-button id="js-close-info-box" icon="close"></paper-icon-button>
    <div class="todo-line">
        <h1 class="info-title"></h1>
        <paper-icon-button id="js-todo-mark-done" icon="done"></paper-icon-button>
        <paper-icon-button id="js-todo-delete" icon="delete"></paper-icon-button>
    </div>

    <p class="info-text"></p>

</paper-material>

<div class=row>

    <div id="js-calendar-list">
    <div class=col-button>
        <paper-icon-button id="js-previous-page" icon="chevron-left" class=pagination-button></paper-button>
    </div>

    <div class="calendar-list">
    </div>

    <div class=col-button>
        <paper-icon-button id="js-next-page" icon="chevron-right" class=pagination-button></paper-button>
    </div>
    </div>

    <paper-material elevation="2" class=col-todo>
        <h2>Todo</h2>
        <ul class=todo-list id="js-todo-list"></ul>
        <paper-icon-button icon="add" class="todo-button" onclick="window.location.href='{{ path('new_todo') }}';"></paper-icon-button>
    </paper-material>
</div>

<div class=below>
    <paper-button claas=below-left raised onclick="window.location.href='{{ path('new_appointment') }}';" >New Appointment</paper-button>
    <paper-button class=below-left raised onclick="window.location.href='{{ path('new_deadline') }}';" >New Deadline</paper-button>
</div>

<div class=note-row>
    {{ render(controller(
        'AppBundle:Notification:getNotifications',
        { 'date' : date('today') }
        ))
    }}
</div>
{% endblock %}

{% block post_head %}
    {{ parent() }}

    {# flight! #}
    <script src="{{ asset('vendor/requirejs/require.js') }}"></script>
    <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
    <script>
        require.config({
            'baseUrl': '/js/',
            'paths': {
                'flight': '../vendor/flight/lib'
            }
        });

        require(['pages/calendar_list'], function (calendarPage) {
            calendarPage();
        });
    </script>

    {# evil stuff #}
    <script src={{ asset('js/calendar.js') }}></script>
{% endblock %}
