{% extends 'base.html.twig' %}

{% macro listDay(day, label) %}
    <tr>
        <th>{{ label }}</th>
    </tr>
    {% for appointment in day %}
        <tr>
            <td class=item data-id={{ appointment.id }} {% if appointment is deadline %}class="deadline"{% else %}class="appointment"{% endif %}>{{ appointment.description }}</td>
        </tr>
    {% endfor %}
{% endmacro %}


{% block title %}
My Calender
{% endblock %}

{% block body %}
    {% import _self as macros %}

<div class=container>
    <div class=page-header>
        <h1>Calender <small>Putting some logic in the tasks...</small></h1>
    </div>

    <div class="row">
        <div class=col-day>
            <table class="agenda  table  table-hover">
               {{ macros.listDay(today, "Today") }} 
            </table>
        </div>
        
        <div class=col-day>
            <table class="agenda  table  table-hover">
                {{ macros.listDay(tomorrow, "Tomorrow") }}
           </table>
        </div>
        
        <div class=col-day>
            <table class="agenda  table  table-hover">
               {{ macros.listDay(overmorrow, "Overmorrow") }} 
            </table>
        </div>

        <div class=col-todo>
            <table class="agenda table table-hover">
                <tr>
                    <th>Todo</th>
                </tr>
                {% for item in todo  %}
                    <tr>
                        <td class=item {% if item.appointment != null %}data-id={{ item.appointment.id }} {% endif %}>
                            {{ item.description }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class=below>
        <a class=btn href={{ path('new_appointment') }}>New Appointment</a>
        <a class=btn href={{ path('new_todo') }}>New Todo</a>
        <a class=btn href={{ path('new_deadline') }}>New Deadline</a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src={{ asset('js/calendar.js') }}></script>
{% endblock %}
