{% extends 'base.html.twig' %}

{% macro listTodo(list) %}
    <ul>
    {% for item in list %}
        <li class=input-group>
            <span class=input-group-addon>
                <input type="checkbox" name="items[]" value="{{ item.id }}" {% if item.done %}checked{% endif %}>
            </span>
            <span class="form-control">{{ item.description }}</span>
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% block title %}
Edit appointment
{% endblock %}

{% block body %}
    {%import _self as macros %}
<div class=page-header>
    <h1>Edit an appointment <small>save a life</small></h1>
</div>

<div class=row>
    <div class=col-form>
        <h3>Appointment</h3>
        {{ form(form) }}
    </div>
    <div class=col-todo>
        <h3>Todo</h3>
        <form methof="POST" action="{{ path('todo_done') }}">
            {{ macros.listTodo(todo) }}
            <input type="submit" value="Save" class="btn btn-primary">
        </form>
    </div>
    <div class=col-todo>
        <h3>Done</h3>
        {{ macros.listTodo(done) }}
    </div>
</div>
{% endblock %}

