{% extends 'base.html.twig' %}

{% block title %}
Add appointment
{% endblock %}

{% block body %}
<div class=container>
    <div class=page-header>
        <h1>Add a new appointment</h1>
    </div>

    <div class=row>
        <div class = col-form>
        {{ form_start(form) }}
            {{ form_row(form.datetime) }}
            {{ form_row(form.description) }}
            {{ form_row(form.priority) }}
            <ul class="todo" data-prototype="{{ form_widget(form.todo.vars.prototype)|e }}"></ul>
            {% do form.todo.setRendered %}
            {{ form_rest(form) }}
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src={{ asset('vendor/jquery/dist/jquery.min.js') }}></script>
<script src={{ asset('js/add_todo.js') }}></script>
{% endblock %}
